* {
  padding: 0;
  margin: 0;
}

body {
  height: 1080px;
  background: linear-gradient(-180deg, #f2ebdbff 45%, #4f7f67ff 45%);
}
.logo-icompass {
  position: absolute;
  width: 200px;
  height: auto;
  top: 30px;
  left: 30px;
}

@media only screen and (max-width: 767px) {
  .logo-icompass {
    max-width: 130px;
    top: 15px;
    left: 15px;
  }
}

div.info {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 130px;
}
h1 {
  /* position: absolute; */
  color: #354462ff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0px;
  /* width: 100%; */

  /* line-height: 120%; */
  /* margin: 0 0 58px;
  top: 16%;
  
  vertical-align: middle; */
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
}

p {
  /* position: absolute; */
  color: rgb(111, 129, 167);
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  /* line-height: 150%;
  margin: 0;
  top: 29%;

  vertical-align: middle; */
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 13px;
  }
}
span {
  position: relative;
  color: rgb(34, 37, 44);
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 150%;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  p {
    font-size: 13px;
  }
}

.form__group {
  position: relative;
  display: inline;
  padding: 15px 0 0;
  width: 800px;
  height: 280px;
  top: -8vh;
}
@media only screen and (max-width: 767px) {
  .form__group {
    top: -0vh;
    width: 84vw;
    height: 280px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .form__group {
      top: -10vh;
      width: 79vw;
      height: 280px;
    }
}

form {
  align-items: center;
  margin: 0 auto;
  margin-top: 65px;
  width: 46vw;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.txt {
  font-family: inherit;
  width: inherit;
  height: inherit;
  border: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  background: transparent;
  transition: border-color 0.2s;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #a9a192ff, #a9a192ff);
  border-image-slice: 1;
  cursor: default;
}
.txt::placeholder {
  color: transparent;
}

.form__label {
  position: relative;
  /* top: -3%; */
  display: block;
  text-align: start;
  transition: 0.2s;
  font-size: 1rem;
  color: #a9a192ff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

/* reset input */
.txt:required,
.txt:invalid {
  box-shadow: none;
}

/* demo */

/* #audiofile:invalid + #button {
  background-color: rgb(160, 157, 152);
  pointer-events: none;
} */

.bubbly-button {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f3dbabff;
  color: #354462ff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 10px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  width: 100px;
  height: 45px;
}

@media only screen and (max-width: 767px) {
  .bubbly-button {
    align-self: center;
  }
}

.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:disabled {
  background-color: rgb(160, 157, 152);
  pointer-events: none;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f3dbabff 20%, transparent 30%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f3dbabff 15%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f3dbabff 15%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: rgb(184, 142, 59);
  box-shadow: 0 2px 25px #004738;
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.container-audio {
  position: relative;
  width: 400px;
  height: 40px;
  padding: 0;
  border-radius: 0;
  background-color: #4e816800;
  color: #4f7f67;
  margin: 13px auto;
  overflow: hidden;
  /* top: 44vh; */
  /* left: 32.5vw; */
  align-items: center;
  white-space: nowrap;
}

@media only screen and (max-width: 767px) {
  .container-audio {
    width: 300px;
  }
}

audio {
  width: inherit;
  height: inherit;
}

.audioinput {
  width: 11.7vw;
}

.inputs {
  position: relative;
  display: flex;
  margin-top: 45px;
  /* padding-left: 30px;   */
  /* top: 37.7vh; */
  /* left: 39.8vw; */
}



.audioinput {
  cursor: pointer;
  color: #4f7f67;
  font-weight: bold;
}
.audioinput:hover {
  color: #4f7f67;
}

.recspan {
  color: #4f7f67;
  font-weight: bold;
  padding-bottom: 260px;
}
@media only screen and (max-width: 767px) {
  .recspan {
    font-size: smaller;
  }
}

.iconeupload > input {
  display: none;
}

.upfile {
  cursor: pointer;
  width: 38px;
}

@media only screen and (max-width: 767px) {
  .upfile {
    width: 24px;
  }
}

.rec > input {
  display: none;
}

.rec {
  background: transparent;
  border: 0px;
  padding: 0;
  cursor: pointer;
}
.rec:focus {
  outline: 0;
}

.iconeupload {
  padding-right: 20px;
}

.audiobutton {
  display: flex;
  position: absolute;
  top: 450px;
  flex-direction: row;
}

@media only screen and (max-width: 767px) {
  .audiobutton {
    flex-direction: column;
  }
}
