* {
  box-sizing: border-box;

}
img {
  position: absolute;
  width: 13%;
  height: auto;
  top: 5%;
  left: 3%;
}

h1 {
  position: absolute;
  color: #354462ff;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 300;
  line-height: 120%;
  margin: 0 0 58px;
  top: 16%;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 720px) {

  h1 { 
     font-size: 30px; 
  }
  p { 
    font-size: 12px; 
 }

}
p {
  position: absolute;
  color: rgb(111, 129, 167);
  font-family: "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  top: 29%;
  text-align: center;
  vertical-align: middle;
}
.form__group {
  position: absolute;
  display: inline;
  padding: 15px 0 0;
  top: 60vh;
  left: 26.2vw;
}
form { 
  margin: 0 auto; 
  width:46vw;
  text-align: center;
  }
.txt {
  font-family: inherit;
  width: 50vw;
  height: 26vh;
  border: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #a9a192ff, #a9a192ff);
  border-image-slice: 1;
  cursor: default;
}
.txt::placeholder {
  color: transparent;
}

.form__label {
  position: absolute;
  top: -3%;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #a9a192ff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  
}

/* reset input */
.txt:required,
.txt:invalid {
  box-shadow: none;
}


/* demo */
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background: linear-gradient(-180deg, #f2ebdbff 40%, #4f7f67ff 30%);
}
html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  
}

/* #audiofile:invalid + #button {
  background-color: rgb(160, 157, 152);
  pointer-events: none;
} */

.bubbly-button {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 0.75em;
  -webkit-appearance: none;
  appearance: none;
  background-color: #f3dbabff;
  color: #354462ff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  width: auto;
  height: 47px;
  top: -9.8vh;
  left: 22vw;
}

.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:disabled {
  background-color: rgb(160, 157, 152);
  pointer-events: none;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #f3dbabff 20%, transparent 30%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f3dbabff 15%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #f3dbabff 15%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%),
    radial-gradient(circle, #f3dbabff 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: rgb(184, 142, 59);
  box-shadow: 0 2px 25px #004738;
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.container-audio {
  position: absolute;
  width: 35vw;
  height: 5vh;
  padding: 0;
  border-radius: 0;
  background-color: #4f7f67;
  color: #4f7f67;
  margin: 20px auto;
  overflow: hidden;
  top: 44vh;
  left: 32.5vw;
  align-items: center;
  white-space: nowrap;
  
  
}
audio {
  width: inherit;
  height: inherit;

}

.audioinput{
  width: 11.7vw;
}

.rec{
  margin-left:4vw; 
  width: 4.7vw;
}
.inputs{
  position: absolute;
  display: flex;
  top: 37vh;
  left: 39vw;
}
